Q1

In [3]:
class Vehicle:
  def __init__(self, v_id, b, rpd):
    self.vehicle_id = v_id
    self.brand = b
    self.rent_per_day = rpd

  def display_details(self):
    print(f"Vehicle ({self.vehicle_id})")
    print(f"Brand: {self.brand}")
    print(f"Daily rent: Rs. {self.rent_per_day}")

  def calculate_rent(self, days):
    return days * self.rent_per_day

# btw im assuming that the vehicle_id is the actual model to denote the car. since brand is just the company
v1 = Vehicle("Civic_2022", "Toyota", 5000)
v1.display_details()
print("Rent for 10 days:", v1.calculate_rent(10))

print()

v2 = Vehicle("Veyron_2026", "Bugatti", 50000)
v2.display_details()
print("Rent for 5 days:", v1.calculate_rent(5))

Vehicle (Civic_2022)
Brand: Toyota
Daily rent: Rs. 5000
Rent for 10 days: 50000

Vehicle (Veyron_2026)
Brand: Bugatti
Daily rent: Rs. 50000
Rent for 5 days: 25000

Q2

In [4]:
class Employee:
  def __init__(self, name, emp_id):
    self.name = name
    self.emp_id = emp_id

class FullTimeEmployee(Employee):
  def __init__(self, name, emp_id, monthly_salary):
    super().__init__(name, emp_id)
    self.monthly_salary = monthly_salary

  def calculate_salary(self):
    return self.monthly_salary

class PartTimeEmployee(Employee):
  def __init__(self, name, emp_id, hours_worked, hourly_rate):
    super().__init__(name, emp_id)
    self.hours_worked = hours_worked
    self.hourly_rate = hourly_rate

  def calculate_salary(self):
    return self.hours_worked * self.hourly_rate


e1 = FullTimeEmployee("Fadil", 635, 400000)
e2 = PartTimeEmployee("Zain", 818, 120, 500)

print(e1.name, e1.calculate_salary())
print(e2.name, e2.calculate_salary())

Fadil 400000
Zain 60000

Q3

In [8]:
#didnt have any name or roll number attribute since its not in the task requirement. encapsulation logic is same.
class Student:
  def __init__(self):
    self.__marks = 0

  def get_marks(self):
    return self.__marks

  def set_marks(self, marks):
    if marks >= 0 and marks <= 100:
      self.__marks = marks

  def calculate_grade(self):
    m = self.__marks

    grade = ""
    if m >= 90:
      grade = "A*"
    elif m >= 80:
      grade = "A"
    elif m >= 70:
      grade = "B"
    elif m >= 60:
      grade = "C"
    elif m >= 50:
      grade = "D"
    else:
      grade = "F"

    return grade

s1 = Student()
s1.set_marks(95)

print("Student 1\nMarks:", s1.get_marks(), "\nGrade:", s1.calculate_grade())

print()

s2 = Student()
s2.set_marks(78)

print("Student 2\nMarks:", s2.get_marks(), "\nGrade:", s2.calculate_grade())

Student 1
Marks: 95
Grade: A*

Student 2
Marks: 78
Grade: B